<div class="table-container">
  <div class="input-group" style="width: 50%; margin: 0 auto">
    <label for="date">Buscar:</label>
    <input type="text" [(ngModel)]="term" />
  </div>
  <table>
    <tr>
      <th>CI Paciente</th>
      <th>Nombres Paciente</th>
      <th>Telefono Paciente</th>
      <th>CI Medico</th>
      <th>Nombres Medico</th>
      <th>Telefono Medico</th>
      <th>Especialidad</th>
      <th>Fecha</th>
      <th>Observaciones</th>
      <th>Cita</th>
    </tr>
    <tbody *ngIf="observaciones">
      <tr *ngFor="let observacion of observaciones | filter : term">
        <td>
          {{ observacion.cita.paciente.usuario.datos_personale.ci  }}
        </td>
        <td>
          {{ observacion.cita.paciente.usuario.nombre | titlecase }}
          {{ observacion.cita.paciente.usuario.apellido | titlecase }}
        </td>
        <td>
          {{ observacion.cita.paciente.usuario.datos_personale.telefono | titlecase }}
        </td>
       <td> {{ observacion.cita.medico.usuario.datos_personale.ci  }}</td>

        <td>
          {{ observacion.cita.medico.usuario.nombre | titlecase }}
          {{ observacion.cita.medico.usuario.apellido | titlecase }}
        </td>
        <td>
          {{ observacion.cita.medico.usuario.datos_personale.telefono | titlecase }}
        </td>
        <td>
          {{ observacion.cita.medico.especialidad.nombre | titlecase }}
        </td>
        <td>
          {{ observacion.cita.fecha | date }}
        </td>
        <td>
          {{observacion.contenido|titlecase}}
        </td>
        <td>
          {{observacion.cita.titulo|titlecase}}
        </td>
      </tr>
    </tbody>
    <!-- Agrega más filas según sea necesario -->
  </table>
</div>
