<body>
  <div class="container">
    <h2>Reset Password</h2>
    <form [formGroup]="FormResetPassword" (ngSubmit)="onSubmit(FormResetPassword.value)">
      <div class="input-group">
        <label for="diaSemana">Usuarios:</label>
        <select
          id="diaSemana"
          name="diaSemana"
          formControlName="user_id"
          [value]="FormResetPassword.get('password')?.value"
          required
        >
           <ng-container *ngIf="users">
            <option *ngFor="let user of users" [value]="user.usuario.id">
              {{ user.usuario.nombre + " " + user.usuario.apellido | titlecase }} - <b>{{user.usuario.datos_personale.ci}} - {{user.usuario.rol.nombre}}</b>
            </option>
          </ng-container>
        </select>
      </div>
      <div
        *ngIf="
        FormResetPassword.get('user_id')?.invalid &&
        FormResetPassword.get('user_id')?.touched
        "
      >
        <span
          *ngIf="FormResetPassword.get('user_id')?.hasError('required')"
          style="color: red"
          >El Medico es Requerido.</span
        >
      </div>
      <div class="input-group">
        <label for="date">New password:</label>
        <input type="text" id="fecha" name="fecha" formControlName="password"  />
      </div>
      <div
        *ngIf="
        FormResetPassword.get('password')?.invalid && FormResetPassword.get('password')?.touched
        "
      >
        <span
          *ngIf="FormResetPassword.get('password')?.hasError('required')"
          style="color: red"
        >
          La nueva contraseña es Requerido.</span
        >
        <span  *ngIf="FormResetPassword.get('password')?.hasError('minlength')" style="color: red;">
          Nesecitas 5 Caracteres como Mínimo.
          </span>
          <!-- Validación en caso que el usuario ingreso mayor a 10 de caracteres -->
           <div
          *ngIf="FormResetPassword.get('password')?.hasError('maxlength')" style="color: red;">
          10 Caracteres como Máximo.
          </div>
      </div>
      <button [disabled]="!FormResetPassword.valid" class="button" type="submit"> Guardar </button>
    </form>
  </div>
</body>
<app-tableusers [users]="users"/>
