<body>
  <h1 class="texto">{{ especialidad_id == null ? "INGRESAR NUEVA ESPECIALIDAD" : "ACTUALIZAR ESPECIALIDAD" }}</h1>
  <div class="container">
      <form [formGroup]="FormEspecialidad" (ngSubmit)="onSubmit(FormEspecialidad.value)">
        <div class="input-group">
          <label for="hora">Nombre especialidad:</label>

          <input type="text" id="hora" name="horaF"  formControlName="nombre">
        </div>
        <div
        *ngIf="FormEspecialidad.get('nombre')?.invalid && FormEspecialidad.get('nombre')?.touched">
        <span *ngIf="FormEspecialidad.get('nombre')?.hasError('required')"
         style="color: red;"> Nombre de especialidad es Requerido.</span>

        </div>

      <button class="button" type="submit" [disabled]="FormEspecialidad.invalid"><h2 class="txt-boton">{{especialidad_id==null?'Enviar':'Editar'}}</h2></button>
    </form>
  </div>
</body>
