<body>
  <h1 class="texto">{{ horario_id == null ? "INGRESAR UN NUEVO HORARIO" : "ACTUALIZAR HORARIO" }}</h1>
    <div class="container">

        <form [formGroup]="FormLogin" (ngSubmit)="Horario()">

            <div class="input-group">

                <label for="diaSemana">Medico:</label>

                <select *ngIf="medicos|async as medicos" id="diaSemana" name="diaSemana" formControlName="medicos" required>
                  <option *ngFor="let medico of medicos" [value]="medico.id">
                    {{ medico.usuario.nombre + " " + medico.usuario.apellido | titlecase }} - <b>{{medico.usuario.datos_personale.ci}}</b>
                  </option>
                </select>

                <div class="span" *ngIf="FormLogin.get('medicos')?.invalid && FormLogin.get('medicos')?.touched" >
                    <span *ngIf="FormLogin.get('medicos')?.hasError('required')" style="color: red;"> El Medico es Requerido.</span>
                </div>

            </div>

            <div class="input-group">
                <label for="diaSemana">Día de la Semana:</label>
                <select id="diaSemana" name="diaSemana" formControlName="dias" required>
                 <option value="Seleccione" selected ></option>
                  <option value="Lunes">Lunes</option>
                  <option value="Martes">Martes</option>
                  <option value="Miércoles">Miércoles</option>
                  <option value="Jueves">Jueves</option>
                  <option value="Viernes">Viernes</option>
                  <option value="Sábado">Sábado</option>
                  <option value="Domingo">Domingo</option>
                </select>
                <div class="span" *ngIf="FormLogin.get('dias')?.invalid && FormLogin.get('dias')?.touched">
                    <span *ngIf="FormLogin.get('dias')?.hasError('required')" style="color: red;"> El dia es Requerido.</span>
                </div>
            </div>
            <div class="input-group">
                <label for="hora">Hora de Inicio:</label>
                <input type="time" id="hora" name="horaI" formControlName="horaI">
                <div class="span" *ngIf="FormLogin.get('horaI')?.invalid && FormLogin.get('horaI')?.touched">
                  <span *ngIf="FormLogin.get('horaI')?.hasError('required')" style="color: red;"> La Hora Inicial es Requerido.</span>
              </div>
            </div>

            <div class="input-group">
                <label for="hora">Hora de Salida:</label>
                <input type="time" id="hora" name="horaF" formControlName="horaF">
                <div class="span" *ngIf="FormLogin.get('horaF')?.invalid && FormLogin.get('horaF')?.touched">
                  <span *ngIf="FormLogin.get('horaF')?.hasError('required')" style="color: red;"> La Hora Final es Requerido.</span>
              </div>
            </div>
            <button class="button" type="submit" [disabled]="FormLogin.invalid"><h2 class="txt-boton">{{horario_id==null?'Enviar':'Editar'}}</h2></button>
        </form>
    </div>

</body>
