<body>
    <h1 class="texto">{{ titulo_id == null ? "INGRESAR NUEVO TÍTULO" : "ACTUALIZAR TÍTULO" }}</h1>
    <div class="container">
        <form [formGroup]="FormTitulo" (ngSubmit)="onSubmitTitulo()">
            <div class="input-group">
                <label for="hora">Nombre del titulo:</label>
                <input type="text" id="hora" name="nombre" formControlName="nombre" />
            </div>
            <div *ngIf="FormTitulo.get('nombre')?.invalid && FormTitulo.get('nombre')?.touched">
                <span *ngIf="FormTitulo.get('nombre')?.hasError('required')" style="color: red">
          El Nombre es Requerido.</span
        >
      </div>

      <div class="input-group">
        <label for="date">Fecha:</label>
        <input type="date" id="fecha" name="fecha" formControlName="fecha" [max]="getFormattedDate()" />
      </div>
      <div
        *ngIf="
          FormTitulo.get('fecha')?.invalid && FormTitulo.get('fecha')?.touched
        "
      >
        <span
          *ngIf="FormTitulo.get('fecha')?.hasError('required')"
          style="color: red"
        >
          La Fecha es Requerido.</span
        >
      </div>
      <div class="input-group">
        <label for="diaSemana">Medicos:</label>
        <select
          id="diaSemana"
          name="diaSemana"
          formControlName="medico_id"
          required
        >
          <ng-container *ngIf="medicos | async as medicos">
            <option *ngFor="let medico of medicos" [value]="medico.id">
              {{ medico.usuario.nombre + " " + medico.usuario.apellido | titlecase }} - <b>{{medico.usuario.datos_personale.ci}}</b>
            </option>
          </ng-container>
        </select>
      </div>
      <div
        *ngIf="
          FormTitulo.get('medicos')?.invalid &&
          FormTitulo.get('medicos')?.touched
        "
      >
        <span
          *ngIf="FormTitulo.get('medicos')?.hasError('required')"
          style="color: red"
          >El Medico es Requerido.</span
        >
      </div>
      <button class="button" [disabled]="!FormTitulo.valid" class="button" type="submit"> <h2 class="txt-boton">{{titulo_id?'Editar':'Guardar'}}</h2></button>
    </form>
  </div>
</body>