<div id="login-button">
  <img class="img-logo" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1691509233/Imagenes-MediBook/LogotipoVertical-800ppp_c4vasx.png">
</div>


<div id="container">

  <div class="login">

    <h1>Bienvenido <br> Administrador</h1>

    <form>
      <label for="">Correo:</label>
      <input type="email" name="email">
      <label for="">Contraseña:</label>
      <input type="password" name="pass">
      <button type="submit">Iniciar Sesión</button>
    </form>

  </div>

</div>
