<div id="login-button">
  <img class="img-logo" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1691509232/Imagenes-MediBook/Imagotipo-800ppp_h1biao.png">
</div>

<div id="container">

  <h1>Log In</h1>

  <form>
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="pass" placeholder="Password">
    <a href="#">Log in</a>

    <div id="remember-container">
      <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked"/>
      <span id="remember">Remember me</span>
      <span id="forgotten">Forgotten password</span>
    </div>

  </form>

</div>
