<body>
  <h1 class="texto">ACTUALIZAR CONTRASEÑA</h1>
  <div class="container">
    <form
      [formGroup]="FormResetPassword"
      (ngSubmit)="onSubmit(FormResetPassword.value)"
    >
      <div class="input-group">
        <ng-container *ngIf="user">
          <select name="" id="">
            <option value="" selected>
              {{
                user.usuario.nombre + " " + user.usuario.apellido | titlecase
              }}
              -
              <b
              >{{ user.usuario.datos_personale.ci }} -
              {{ user.usuario.rol.nombre }}</b
              >
            </option>
          </select>

      </ng-container>
      </div>

      <div class="input-group">
        <label for="date">Nueva Contraseña:</label>
        <input type="text" id="fecha" name="fecha" formControlName="password" />
        <div class="span"
          *ngIf="
            FormResetPassword.get('password')?.invalid &&
            FormResetPassword.get('password')?.touched
          "
        >
          <span
            *ngIf="FormResetPassword.get('password')?.hasError('required')"
            style="color: red"
          >
            La nueva contraseña es Requerido.</span
          >
          <span
            *ngIf="FormResetPassword.get('password')?.hasError('minlength')"
            style="color: red"
          >
            Nesecitas 5 Caracteres como Mínimo.
          </span>
          <!-- Validación en caso que el usuario ingreso mayor a 10 de caracteres -->
          <div
            *ngIf="FormResetPassword.get('password')?.hasError('maxlength')"
            style="color: red"
          >
            10 Caracteres como Máximo.
          </div>
        </div>
      </div>

      <button
        class="button"
        [disabled]="!FormResetPassword.valid"
        class="button"
        type="submit"
      >
        <h2 class="txt-boton">Guardar</h2>
      </button>
    </form>
  </div>
</body>
