<div class="button">
  <button  >  <i class="input-icon uil uil-user"></i>Ingresar Medico</button>
</div>

<div class="table-container">
  <table>
      <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Cantón</th>
          <th>Provincia</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Acciones</th>
      </tr>
      <tr>
          <td>1</td>
          <td>John</td>
          <td>Doe</td>
          <td>123456789</td>
          <td>San José</td>
          <td>San José</td>
          <td>123-456-7890</td>
          <td>john@example.com</td>
          <td><button class="update"><i class="input-icon uil uil-edit"></i></button>
            <button class="delete"><i class="input-icon uil uil-trash-alt"></i></button></td>

      </tr>
      <!-- Agrega más filas según sea necesario -->
  </table>
</div>

<app-crearmedico></app-crearmedico>
<app-actualizarmedico></app-actualizarmedico>
