body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.table-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(234, 185, 52, 0.254);
  padding: 20px;
  margin: 40px;
}

table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 0 auto; /* Centra horizontalmente la tabla */
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.update {
  background-color: blue;
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.update:hover {
  background-color: #0056b3;
}
.delete {
  background-color: red;
  border: none;
  padding: 5px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
.delete:hover {
  background-color: #f35555;
}
.update i, .delete i {
  color: white;
}
label {
  font-weight: bold;
}

input,select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 5px;
}




.container-search {
	position: absolute;
	left: 57%;
	top: 19.5%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 50px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #F39C12;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn-search {
	position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
	right: 7px;
	top: 12px;
	width: 55px;
	height: 55px;
	background: #F39C12;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn-search i {
	font-size: 32px;
	color: white;
	transition: all .7s ease;
}

.container-search:hover input {
	width: 350px;
}

.container-search:hover i{
	transform: rotate(-360deg);
}

.btn-search:hover{
	background: #F39C12;
}


.container-table{
  margin-top: 90px;
  margin-bottom: 20px;
}



.button{
  display: flex;
  justify-content: center;
  margin: 40px;
}
