<div class="table-container">

  <div class="img-banner">
    <img class="banner" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1691986597/Imagenes-MediBook/img/Doctors-pana_vvrifc.png" alt="">
  </div>

  <div class="texto-animado">
    <div class="primer-txt">
      <h1 class="primero">BIENVENIDOS</h1>
    </div>
    <div class="primer-txt">
      <h1 class="segundo">MEDICOS</h1>
    </div>
  </div>

  <div class="secciones-buscar-ingresar">

    <div class="container-button">
      <button class="btn rounded" (click)="openDialog()">
        <span class="text-green"> <i class="input-icon uil uil-user-plus" style="margin-right: 8px;"></i>Ingresar Medico</span>
      </button>
    </div>

    <div class="container-search">
      <input type="search" [(ngModel)]="term" placeholder="Buscar">
      <div class="btn-search">
        <i class="input-icon uil uil-search-alt"></i>
      </div>
    </div>

  </div>

  <div class="scroll-table">
    <table>
      <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Provincia</th>
          <th>Cantón</th>
          <th>Teléfono</th>
          <th>Especialidad</th>
          <th>Correo</th>
          <th>Acciones</th>
      </tr>
        <tbody *ngIf="medicos">
          <tr *ngFor="let medico of medicos|filter:term">
          <td>{{medico.usuario.id}}</td>
          <td>{{medico.usuario.nombre}}</td>
          <td>{{medico.usuario.apellido}}</td>
          <td>{{medico.usuario.datos_personale.ci}}</td>
          <td>{{medico.usuario.ubicacion.provincia}}</td>
          <td>{{medico.usuario.ubicacion.canton}}</td>
          <td>{{medico.usuario.datos_personale.telefono}}</td>
          <td>{{medico.especialidad.nombre}}</td>
          <td>{{medico.usuario.email}}</td>
          <td>
            <button class="update" (click)="edit(medico.id)"><i class="input-icon uil uil-edit"></i></button>
            <button class="delete" (click)="delete(medico.id)"><i class="input-icon uil uil-trash-alt"></i></button>
          </td>
          </tr>
      </tbody>
      <!-- Agrega más filas según sea necesario -->
    </table>
  </div>

</div>
<!--
<app-crearmedico></app-crearmedico> -->

