.nav{
  top: 0;
  width: 15%;
  height: 100%;
  padding: 10px 10px;
  justify-content: left;
  align-items: center;
  text-align: center;
  background-color: #fff;
  position: fixed;
  border-right: 1px solid;
  box-shadow: 10px 0 10px -5px rgba(89, 89, 89, 0.5);
  border-color: rgb(168, 166, 166);
}

@media (max-width: 1289px) {

  .nav{
    width: 7%;
  }
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:30px 0px;
}

.img-logo{
  width: 205px;
  height: 55px;
}
.img-logo2{
  display: none;
}

.input-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  font-size: 24pt;
}
.router-link-active{
  background-color: rgba(105, 105, 105, 0.245);
}

.texto-none-todo{
  display: flex;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 10px;
}

.boton1{
  display: flex;
  border: 0px;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  transition: background-color .5s;
  border-radius: 10px;
}

.componente{
  width: 100%;
}

.boton{
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  border: 0px;
  height: 45px;
  width: 95%;
  background-color: rgb(255, 255, 255);
  color: black;
  transition: background-color .5s;
  border-radius: 10px;
}

.boton:hover{
  background-color: rgba(105, 105, 105, 0.245);
}

@media (max-width: 1289px) {

  .texto-none, .texto-none-todo, .img-logo{
    display: none;
  }
  .img-logo2{
    display: block;
    width: 75px;
    height: 70px;
  }
  .nav, .input-icon, .boton{
    justify-content: center;

  }

}

@media (max-width: 906px){
  .img-logo2{
    display: block;
    width: 55px;
    height: 50px;
  }
}

.boton:hover{
  .input-icon{
    transform: scale(1.1);
  }
}

button:focus {
  outline: none; /* Elimina el borde de enfoque */
}

