.nav{
  top: 0;
  width: 15%;
  height: 100%;
  padding: 10px 10px;
  justify-content: left;
  align-items: center;
  text-align: center;
  background-color: #fff;
  position: fixed;
  border-right: 1px solid;
  box-shadow: 10px 0 10px -5px rgba(89, 89, 89, 0.5);
  border-color: rgb(168, 166, 166);
}

@media (max-width: 1289px) {

  .nav{
    width: 7%;
  }
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px;
}

.img-logo{
  width:40px;
  height: 40px;
}

.input-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  font-size: 24pt;
}
.router-link-active{
  background-color: rgba(105, 105, 105, 0.245);
}
h1{
  margin: 0px 0px 0px 5px;
  font-family:cursive;
  font-size: 7pt;
  font-weight: bold;
  max-height: 40px;
}

.texto-none-todo{
  display: flex;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 10px;
}

.boton1{
  display: flex;
  border: 0px;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  transition: background-color .5s;
  border-radius: 10px;
}

.componente{
  width: 100%;
}

.boton{
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  border: 0px;
  height: 50px;
  width: 95%;
  background-color: rgb(255, 255, 255);
  color: black;
  transition: background-color .5s;
  border-radius: 10px;
}
.boton:hover{
  background-color: rgba(105, 105, 105, 0.245);
}

@media (max-width: 1289px) {

  .texto-none, .texto-none-todo{
    display: none;
  }
  .nav, .input-icon, .boton{
    justify-content: center;

  }

}

.abrir{
  display: none;
}

/* @media (max-width: 765px) {
  .nav{
    padding: 0px;
    top: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: block;
    background-color: rgb(255, 255, 255);
  }
  .boton1, .logo{
    display: none;
  }
  .boton{
    height: 100%;
    width: 50px;
    margin: 0;
    padding: 0;
  }

  .boton:focus{
    outline: none;
  }

  .texto-none-todo{
    display: none;
  }
  .componente{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
  }
  .crear-iphone{
    display: none;
  }

  .abrir{
    display: block;
  }

  .cerrar{
    display: none;
  }

  .input-icon{
    font-size: 18pt;
  }
} */

.boton:hover{
  .input-icon{
    transform: scale(1.1);
  }
}

button:focus {
  outline: none; /* Elimina el borde de enfoque */
}

.app-crear {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  /* Fondo oscuro con transparencia */
  z-index: 40;
  height: 100%;
}

