<div class="table-container">



    <!-- siempre va igual es la parte de arriba -->
    <div class="img-banner">
        <img class="banner" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1692220530/Imagenes-MediBook/img/horarios_luvi7t.png" alt="">
    </div>

    <div class="texto-animado">
        <div class="primer-txt">
            <h1 class="primero">HORARIOS DE</h1>
        </div>
        <div class="primer-txt">
            <h1 class="segundo">MEDICOS</h1>
        </div>
    </div>

    <!--  esto es la seccion buscar e ingresar -->

    <div class="secciones-buscar-ingresar">

        <div class="container-button">
            <button class="btn rounded" (click)="openDialog()">
        <span class="text-green"> <i class="input-icon uil uil-clock" style="margin-right: 8px;"></i>Ingresar Horario</span>
      </button>
        </div>

        <div class="container-search">
            <input type="search" [(ngModel)]="term" placeholder="Buscar">
            <div class="btn-search">
                <i class="input-icon uil uil-search-alt"></i>
            </div>
        </div>

    </div>




    <div class="scroll-table">
        <table>
            <tr class="estatico">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Cantón</th>
                <th>Provincia</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Dia</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th *ngIf="user.rol_id==1">Acciones</th>
            </tr>
            <tbody *ngIf="horarios">
                <tr *ngFor="let horario of horarios|filter:term">
                    <td>
                        {{horario.medico.usuario.nombre|titlecase}}
                    </td>
                    <td>
                        {{horario.medico.usuario.apellido|titlecase}}
                    </td>
                    <td>
                        {{horario.medico.usuario.datos_personale.ci|titlecase}}
                    </td>
                    <td>
                        {{horario.medico.usuario.ubicacion.canton|titlecase}}
                    </td>
                    <td>
                        {{horario.medico.usuario.ubicacion.provincia|titlecase}}
                    </td>
                    <td>
                        {{horario.medico.usuario.datos_personale.telefono}}
                    </td>
                    <td>
                        {{horario.medico.usuario.email}}
                    </td>
                    <td>
                        {{horario.dia}}
                    </td>
                    <td>
                        {{horario.hora_inicio}}
                    </td>
                    <td>
                        {{horario.hora_fin}}
                    </td>
                    <td *ngIf="user.rol_id==1">
                      <button class="update" (click)="edit(horario.id)"><i class="input-icon uil uil-edit"></i></button>
                      <button class="delete" (click)="delete(horario.id)"><i class="input-icon uil uil-trash-alt"></i></button>
                    </td>

                </tr>
            </tbody>

            <!-- Agrega más filas según sea necesario -->
        </table>
    </div>


</div>
