<body>
  <div class="animacion">

    <div class="img-banner">
      <img class="banner" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1691509232/Imagenes-MediBook/Imagotipo-800ppp_h1biao.png" alt="">
    </div>

    <div class="texto-animado">
      <div class="primer-txt">
        <h1 class="primero">
          Medi
        </h1>
      </div>
      <div class="primer-txt">
        <h1 class="segundo">Book</h1>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="cards">
      b
    </div>
    <div class="separador">
    </div>
  </div>
  
  <img class="img-principal" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1692074832/Imagenes-MediBook/animaciones-doctores/home-300ppp_myn0ew.png" alt="">
</body>


