body{
  position: relative;
  width: 100%;
  height: 100%;
}

.img-principal{
  position: absolute;
  top: 28%;
  left: 81.5%;
  width: 300px;
  position: fixed;
}


.container{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 95%;
  height: 78.5%;
  margin: auto;
}

.animacion{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cards{
  width: 77.5%;
}

.separador{
  width: 22.5%;
}


/* banner */

.img-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px; /* Ajusta el valor según tus necesidades */
  overflow: hidden;
  margin: 0px 30px;
}

.banner {
  width: auto;
  max-height: 90%;
  max-width: 90%;
  animation: bannerAnimation 3s linear infinite;
}

@keyframes bannerAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}


/* texto animado */

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.texto-animado {
  display: flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  /*background-color: #0056b3; */
  font-weight:600;
  font-size:32px;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}
h1{
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.primero{
  padding-top: 30px;
  font-family: 'Righteous', cursive;;
  color: #F39C12;
  font-size: 65pt;
  font-weight: bold;
}

.segundo{
  padding-top: 30px;
  font-family: 'Righteous', cursive;
  color: #2ECC71;
  font-size: 65pt;
  font-weight: bold;
}

.primer-txt {
  display:inline-block;
  overflow:hidden;
  height: 90px;
}
.txt{
  padding: 0px;
  margin: 0px;
}

.primer-txt:first-of-type {    /* For increasing performance
                       ID/Class should've been used.
                       For a small demo
                       it's okaish for now */
  animation: showup 5s infinite;
}

.primer-txt:last-of-type {
  width:0px;
  animation: reveal 5s infinite;
}

.primer-txt:last-of-type h1 {
  margin-left:10px;
  animation: slidein 5s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:210px;}
    80% {opacity:1;}
    100% {opacity:0;width:210px;}
}


.card:hover{
  .wrapper{
    transform: scale(0.95);
  }
}

/* cards */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

// Base styles
.card {
  float: left;
  padding: 0 0 0 1.5rem;
  width: 100%;


  .wrapper {
    background-color: $white;
    border-radius: 12px;
    min-height: 260px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    background-color: #b9bcbec3;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
  }
  .title {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .text {
    color: #3b3e41;
    font-weight: bold;
    height: 70px;
    margin: 0;
    padding-top: 10px;
    max-width: 100%; /* Evita el desbordamiento horizontal */
    /* white-space: nowrap; */ /* Evita el desbordamiento vertical */
    overflow: hidden; /* Oculta el contenido adicional */
    font-size: 100%; /* Tamaño de fuente inicial (puedes ajustarlo según tus necesidades) */
    /* text-overflow: ellipsis; */ /* Agrega puntos suspensivos (...) si el contenido se recorta */
  }
  input[type='checkbox'] {
    display: none;
  }
}
// Second example styles

.img-1 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692159468/Imagenes-MediBook/img/medico-enfermeras-equipos-especiales_g94fg7.jpg) center / cover no-repeat;
  }
}

.img-2 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692165449/Imagenes-MediBook/img/medicos-trabajando-duro_u0rabg.jpg) center / cover no-repeat;
  }
}

.img-3 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692166030/Imagenes-MediBook/img/grupo-multietnico-tres-medicos-enfermeras-parados-pasillo-hospital-usando-batas-batas-equipo-trabajadores-salud-mira-camara-sonrie_jwbjej.jpg) center / cover no-repeat;
  }
}

.img-4 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692166102/Imagenes-MediBook/img/doctor-comprobando-condicion-medica-paciente_j3sc9t.jpg) center / cover no-repeat;
  }
}

.img-5 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692166291/Imagenes-MediBook/img/doctora-sosteniendo-despertador-uniforme-azul_tynefn.jpg) center / cover no-repeat;
  }
}

.img-6 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692166432/Imagenes-MediBook/img/doctor-escribiendo-informe-medico_ibc82r.jpg) center / cover no-repeat;
  }
}

.img-7 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692166491/Imagenes-MediBook/img/medico-vista-frontal-elemento-medico_g2cgnv.jpg) center / cover no-repeat;
  }
}

.img-8 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692165898/Imagenes-MediBook/img/manos-doctora-irreconocible-escribiendo-forma-escribiendo-teclado-portatil_yb2aj7.jpg) center / cover no-repeat;
  }
}

.img-9 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692166633/Imagenes-MediBook/img/revisar-aumentar-calificacion-o-clasificacion-evaluacion-concepto-clasificacion-empresario-dibujar-cinco-estrella-amarilla-aumentar-calificacion-su-empresa_cgw1te.jpg) center / cover no-repeat;
  }
}

.img-10 {
  .wrapper {
    background: url(https://res.cloudinary.com/duhm7ousd/image/upload/v1692166784/Imagenes-MediBook/img/flat-lay-of-notebook-contrasena-laptop_fwrppj.jpg) center / cover no-repeat;
  }
}

.example-2 {

  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      width: 100%;
      height: 100%;
      color: #F39C12;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}
