<body>
  <div class="animacion">

    <div class="img-banner">
      <img class="banner" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1691509232/Imagenes-MediBook/Imagotipo-800ppp_h1biao.png" alt="">
    </div>

    <div class="texto-animado">
      <div class="primer-txt">
        <h1 class="primero">
          Medi
        </h1>
      </div>
      <div class="primer-txt">
        <h1 class="segundo">Book</h1>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="cards">

      <div class="row">

        <div class="example-2 card img-1">
          <a href="/#/medicos">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/medicos" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/medicos">MEDICOS</a></h1>
                  <p class="text">En esta página encontraras todos los medicos suscritos a MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-2">
          <a href="/#/especialidad">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/especialidad" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/especialidad" style="font-size: 90%;">ESPECIALIDAD</a></h1>
                  <p class="text">En esta página encontraras las especialidades los medicos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-3">
          <a href="/#/titulos">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/titulos" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/titulos">TÍTULOS</a></h1>
                  <p class="text">En esta página encontraras los títulos de los medicos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-4">
          <a href="/#/citas">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/citas" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/citas">CITAS</a></h1>
                  <p class="text">En esta página encontraras todas las citas medicas de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-5">
          <a href="/#/horarios">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/horarios" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/horarios">HORARIOS</a></h1>
                  <p class="text">En esta página encontraras todos los horarios de los medicos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="example-2 card img-6">
          <a href="/#/observaciones">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/observaciones" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/observaciones" style="font-size: 81%;">OBSERVACIONES</a></h1>
                  <p class="text">En esta página encontraras todas las obeservaciones de los medicos en MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-7">
          <a href="/#/pagos">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/pagos" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/pagos">PAGOS</a></h1>
                  <p class="text">En esta página encontraras todos los pagos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-8">
          <a href="/#/recetas">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/recetas" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/recetas">RECETAS</a></h1>
                  <p class="text">En esta página encontraras todas las recetas medicas de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-9">
          <a href="/#/resenias">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/resenias" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/resenias">RESEÑAS</a></h1>
                  <p class="text">En esta página encontraras todas las reseñas de los medicos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-10">
          <a href="/#/reset-password">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a href="/#/reset-password" class="button">Ir a sección</a>
                  <h1 class="title"><a href="/#/reset-password" style="font-size: 85%;">RESET/PASS</a></h1>
                  <p class="text">En esta página encontraras la opción para restablecer la contraseña de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    <div class="separador">
    </div>
  </div>

  <img class="img-principal" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1692074832/Imagenes-MediBook/animaciones-doctores/home-300ppp_myn0ew.png" alt="">
</body>


