<body>
  <div class="animacion">

    <div class="img-banner">
      <img class="banner" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1691509232/Imagenes-MediBook/Imagotipo-800ppp_h1biao.png" alt="">
    </div>

    <div class="texto-animado">
      <div class="primer-txt">
        <h1 class="primero">
          Medi
        </h1>
      </div>
      <div class="primer-txt">
        <h1 class="segundo">Book</h1>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="cards">

      <div class="row">

        <div class="example-2 card img-1" *ngIf="user.rol.nombre==='Admin'">
          <a [routerLink]="['/medicos']" >
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['/medicos']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['/medicos']">MEDICOS</a></h1>
                  <p class="text">En esta página encontraras todos los medicos suscritos a MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-2" *ngIf="user.rol.nombre==='Admin'">
          <a [routerLink]="['/especialidad']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['especialidad']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['especialidad']" style="font-size: 90%;">ESPECIALIDAD</a></h1>
                  <p class="text">En esta página encontraras las especialidades los medicos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-3" *ngIf="user.rol.nombre==='Admin'">
          <a [routerLink]="['/titulos']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['/titulos']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['/titulos']">TÍTULOS</a></h1>
                  <p class="text">En esta página encontraras los títulos de los medicos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-4" >
          <a  [routerLink]="['/citas']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a  [routerLink]="['citas']" class="button">Ir a sección</a>
                  <h1 class="title"><a  [routerLink]="['citas']">CITAS</a></h1>
                  <p class="text">En esta página encontraras todas las citas medicas de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-5" *ngIf="user.rol.nombre==='Admin'">
          <a [routerLink]="['/horarios']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['/horarios']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['/horarios']">HORARIOS</a></h1>
                  <p class="text">En esta página encontraras todos los horarios de los medicos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row" style="margin-top: 30px;" >
        <div class="example-2 card img-6">
          <a [routerLink]="['/observaciones']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['observaciones']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['observaciones']" style="font-size: 81%;">OBSERVACIONES</a></h1>
                  <p class="text">En esta página encontraras todas las obeservaciones de los medicos en MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-7">
          <a [routerLink]="['/pagos']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['pagos']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['pagos']">PAGOS</a></h1>
                  <p class="text">En esta página encontraras todos los pagos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-8">
          <a [routerLink]="['/recetas']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['recetas']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['recetas']">RECETAS</a></h1>
                  <p class="text">En esta página encontraras todas las recetas medicas de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-9">
          <a [routerLink]="['/resenias']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['resenias']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['resenias']">RESEÑAS</a></h1>
                  <p class="text">En esta página encontraras todas las reseñas de los medicos de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="example-2 card img-10" *ngIf="user.rol.nombre==='Admin'">
          <a [routerLink]="['/reset-password']">
            <div class="wrapper">
              <div class="data">
                <div class="content">
                  <a [routerLink]="['reset-password']" class="button">Ir a sección</a>
                  <h1 class="title"><a [routerLink]="['reset-password']" style="font-size: 85%;">RESET/PASS</a></h1>
                  <p class="text">En esta página encontraras la opción para restablecer la contraseña de MediBook.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    <div class="separador">
    </div>
  </div>

  <img class="img-principal" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1692074832/Imagenes-MediBook/animaciones-doctores/home-300ppp_myn0ew.png" alt="">
</body>


