<div class="table-container">


    <!-- siempre va igual es la parte de arriba -->
    <div class="img-banner">
        <img class="banner" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1692219053/Imagenes-MediBook/img/recetas_n5bhz6.png" alt="">
    </div>

    <div class="texto-animado">
        <div class="primer-txt">
            <h1 class="primero">RECETAS</h1>
        </div>
        <div class="primer-txt">
            <h1 class="segundo">MEDICAS</h1>
        </div>
    </div>

    <!--  esto es la seccion buscar e ingresar -->

    <div class="secciones-buscar-ingresar">


        <div class="container-search">
            <input type="search" [(ngModel)]="term" placeholder="Buscar">
            <div class="btn-search">
                <i class="input-icon uil uil-search-alt"></i>
            </div>
        </div>

    </div>




    <div class="scroll-table">
        <table>
            <tr>
                <th>CI Paciente</th>
                <th>Nombres Paciente</th>
                <th>Telefono Paciente</th>
                <th>CI Medico</th>
                <th>Nombres Medico</th>
                <th>Telefono Medico</th>
                <th>Especialidad</th>
                <th>Fecha</th>
                <th>Cantidad medicamento</th>
                <th>Lapso de tiempo</th>
                <th>Nombre medicamento</th>
                <th>Cita</th>
            </tr>
            <tbody *ngIf="recetas">
                <tr *ngFor="let receta of recetas | filter:term">
                    <ng-container *ngIf="receta.cita">
                        <td>
                            {{ receta.cita.paciente.usuario.datospersonale.ci }}
                        </td>
                        <td>
                            {{ receta.cita.paciente.usuario.nombre | titlecase }} {{ receta.cita.paciente.usuario.apellido | titlecase }}
                        </td>
                        <td>
                            {{ receta.cita.paciente.usuario.datospersonale.telefono | titlecase }}
                        </td>
                        <td> {{ receta.cita.medico.usuario.datospersonale.ci }}</td>

                        <td>
                            {{ receta.cita.medico.usuario.nombre | titlecase }} {{ receta.cita.medico.usuario.apellido | titlecase }}
                        </td>
                        <td>
                            {{ receta.cita.medico.usuario.datospersonale.telefono | titlecase }}
                        </td>
                        <td>
                            {{ receta.cita.medico.especialidad.nombre | titlecase }}
                        </td>
                        <td>
                            {{ receta.cita.fecha | date }}
                        </td>
                        <td>
                            {{receta.cantidad}}
                        </td>
                        <td>
                            {{receta.lapso_tiempo}}
                        </td>
                        <td>
                            {{receta.nombre_medicamento|titlecase}}
                        </td>
                        <td>
                            {{receta.cita.titulo|titlecase}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="receta.cita_observacion?.receta">
                        <td>
                            {{ receta.paciente.usuario.datos_personale.ci }}
                        </td>
                        <td>
                            {{ receta.paciente.usuario.nombre | titlecase }} {{ receta.paciente.usuario.apellido | titlecase }}
                        </td>
                        <td>
                            {{ receta.paciente.usuario.datos_personale.telefono | titlecase }}
                        </td>
                        <td> {{ receta.medico.usuario.datos_personale.ci }}</td>

                        <td>
                            {{ receta.medico.usuario.nombre | titlecase }} {{ receta.medico.usuario.apellido | titlecase }}
                        </td>
                        <td>
                            {{ receta.medico.usuario.datos_personale.telefono | titlecase }}
                        </td>
                        <td>
                            {{ receta.medico.especialidad.nombre | titlecase }}
                        </td>
                        <td>
                            {{ receta.fecha | date }}
                        </td>
                        <ng-container *ngFor="let re of receta.receta">
                            <td>
                                {{re.cantidad}}
                            </td>
                            <td>
                                {{re.lapso_tiempo}}
                            </td>
                            <td>
                                {{re.nombre_medicamento|titlecase}}
                            </td>
                        </ng-container>
                        <td>
                            {{receta.titulo|titlecase}}
                        </td>
                    </ng-container>
                </tr>
            </tbody>
            <!-- Agrega más filas según sea necesario -->
        </table>
    </div>
</div>
