<div class="table-container">


    <!-- siempre va igual es la parte de arriba -->
    <div class="img-banner">
        <img class="banner" src="https://res.cloudinary.com/duhm7ousd/image/upload/v1692135775/Imagenes-MediBook/img/estetoscopio-sobre-informacion-paciente_yb1kit.jpg" alt="">
    </div>

    <div class="texto-animado">
        <div class="primer-txt">
            <h1 class="primero">PAGOS</h1>
        </div>
        <div class="primer-txt">
            <h1 class="segundo">MEDICOS</h1>
        </div>
    </div>

    <!--  esto es la seccion buscar e ingresar -->

    <div class="secciones-buscar-ingresar">


        <div class="container-search">
            <input type="search" [(ngModel)]="term" placeholder="Buscar">
            <div class="btn-search">
                <i class="input-icon uil uil-search-alt"></i>
            </div>
        </div>

    </div>


    <div class="scroll-table">
        <table>
            <tr>
                <th>CI Paciente</th>
                <th>Nombres Paciente</th>
                <th>Telefono Paciente</th>
                <th>CI Medico</th>
                <th>Nombres Medico</th>
                <th>Telefono Medico</th>
                <th>Especialidad</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Cita</th>
            </tr>
            <tbody *ngIf="pagos">
                <tr *ngFor="let pago of pagos | filter : term">
                    <td>
                        {{ pago.paciente.usuario.datos_personale.ci }}
                    </td>
                    <td>
                        {{ pago.paciente.usuario.nombre | titlecase }} {{ pago.paciente.usuario.apellido | titlecase }}
                    </td>
                    <td>
                        {{ pago.paciente.usuario.datos_personale.telefono | titlecase }}
                    </td>
                    <td> {{ pago.medico.usuario.datos_personale.ci }}</td>

                    <td>
                        {{ pago.medico.usuario.nombre | titlecase }} {{ pago.medico.usuario.apellido | titlecase }}
                    </td>
                    <td>
                        {{ pago.medico.usuario.datos_personale.telefono | titlecase }}
                    </td>
                    <td>
                        {{ pago.medico.especialidad.nombre | titlecase }}
                    </td>
                    <td>
                        {{ pago.cita.fecha | date }}
                    </td>
                    <td>
                        {{pago.cantidad|currency}}
                    </td>
                    <td>
                        {{pago.cita.titulo|titlecase}}
                    </td>
                </tr>
            </tbody>
            <!-- Agrega más filas según sea necesario -->
        </table>
    </div>
</div>