.contenedor{
  width: 83%;
  float: right;
  background-image: url("https://res.cloudinary.com/duhm7ousd/image/upload/v1691954654/Imagenes-MediBook/img/19366_jitsfs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

@media (max-width: 1289px) {

  .contenedor{
    width: 90%;
  }
}

.navbar{
  width: 17%;
  margin: 0;
  padding: 0;
  height: 100%;
  right: -10;
}

